.row{
    width: 80%;
    height: 800px;
    background-color: aquamarine;
   
}


.item{
  
    border: 1px solid black;
    background-color: blueviolet;
    color: white;
    font-weight: bolder;
}
.item:nth-child(2){
    background-color: chocolate;
    grid-column-start: 2;
    grid-column-end: 3;
}